body {
    margin: 8px;
    background-color: #03A6FF;
    color: #2E3F48;
}

ul {
    margin: 8px 0px;
}

p {
    padding-left: 8px;
}

a {
    text-decoration: none;
}

.title,
.subtitle {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: 600;
    font-size: 32px;
}

.subtitle {
    color: #2E3F48;
    font-size: 24px;

}

.title .list {
    font-size: 24px;
    color: #2E3F48;
    border-radius: 5px;
}

#center {
    text-align: center;
}

#rm-margin {
    margin: 0;
    pad: 0;
}

.pic {
    width: max-content;
    display: block;
    height: auto;
}

.list {
    color: #2E3F48;
}

.list:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
     -10px -10px 10px white;
     background: transparent;
}

.element {
    color: rgb(128, 72, 72);
    font-size: 20px;
    font-weight: 500;
    margin: 8px;
    width: 400px;
}

.inline {
    display: inline;
}

.recipe-bg {
    width: min(700px, 90%);
    height: auto;
    margin: 8px auto;
    padding: 16px;
    border-radius: 5px;
    background-color: white;
}

.recipes-list-bg {
    background-color: white;
    border-radius: 5px;
    height: fit-content;
    padding: 8px;
    padding-right: 200px;
    margin: 8px auto;
    width: fit-content;
}
